<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= libraryName %></title>
  <script>window.userName = "<%= userName %>"</script>
  <script src="//a.hrc.onl/js/modernizr.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" media="all" href="/css/global.css" />
  <% if (debug === false) { %>
    <link type="text/css" rel="stylesheet" media="all" href="/css/main.css" />
  <% } %>
</head>
<body>
  <div class="react"></div>
  <script src="/js/global.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
